@charset "UTF-8";

#caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 20px;
    box-sizing: border-box;
    /* -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px; */
}

#caixa2 {
    width: 300px;
    height: 300px;
    background: #b9c941;
    /* -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px; */
}
.arredondamento {
    border-radius: 150px;
}